PORT=4000
#MONGO_URI=mongodb://localhost:27017/eli_business_center
MONGO_URI=mongodb+srv://attikpo_db_user:Vero14Guyanou@cluster0.dd4dxdu.mongodb.net/
JWT_SECRET=change_this_secret
ADMIN_USER=admin
ADMIN_PASS=password123
BASE_URL=http://localhost:4001
API_URL=http://localhost:4001
FRONTEND_URLS=http://localhost:3000,http://localhost:3001
